{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>COBOK</title>
</head>
<body>
    <div class="nav">
        <div class="nav_logo">
            <a href = "/">
                <img class = "logo" src="{% static 'image/dogeImg.jpeg' %}" alt="">
            </a>
            <a href = "/home" style="color: wheat;">COBOK</a>
        </div>
        <ul class="navbar_menu">
            <li><a href = "/home">Home</a></li>
            <li><a href = "../login">Login</a></li>
            <li><a href = "../sign_up">Register</a></li>
            <li><a href = "../userpage">UserPage</a></li>
        </ul>
        <div class="icon">
            <a href = "https://www.kakaocorp.com/page/service/service/KakaoTalk">
                <img class = "nav_icon" src="{% static 'image/kakaoimg.png' %}" alt="">
            </a>
            <a href="https://twitter.com/?lang=ko">
                <img class = "nav_icon" src="{% static 'image/twiterimg.png' %}" alt="">
            </a>
        </div>
    </div>
    <div class = "container">
        <div class="coin_news">
            <div class="pagination">
                <ol id = "numbers">
                </ol>
            </div>
            <ul class = news_contents>
            </ul>
            <div class="page_button">
            </div>
        </div>
    </div>


    <script>
        var sumation_data;
        var table_state = {
            'category' : '전체',
            'page_num' : 0
        };
        function click_event_page(num){
            table_state['page_num'] = num;
            update_table();
        }
        function click_event_news(name){
            table_state['category'] = name;
            update_table();
        }
        // news table update
        function update_table(){
            var category_state = table_state['category'];
            var data = sumation_data[category_state];
            
            var page_num = Math.ceil(data.length/10);
            var paging = $('div.page_button');
        
            var contents = $('ul.news_contents');
            var page_num_state = table_state['page_num'] * 10;

            $('div.page_button *').remove();
            $('ul.news_contents *').remove();

            for(var i = 0;i<page_num;i++){
                paging.append('<a href = "javascript:return false;" class = "page_num"' + `onclick = "click_event_page('${i}');" ` + '>' + (i + 1) + '</a>');
            }
            if (data.length - page_num_state < 10){
                temp = data.length - page_num_state;
            }
            else{
                temp = 10;
            }

            for(var i = 0;i<temp;i++){
                contents.append('<li class = "coin_news_items"><a id = "news_name" href = '
                + data[i + page_num_state][1] + '>'
                + data[i + page_num_state][0] +'</a></li>');
            }
        }
        // data scaling
        function Sumation(data){
            var category_name = ['전체','일반','규제/정책','산업/테크','칼럼/인터뷰'];
            var news_dic = {};

            // create list
            for(var i = 0;i<category_name.length;i++){
                news_dic[category_name[i]] = []
            }

            // split data
            for(var i = 0;i<data.length;i++){
                line = [];
                line.push( data[i]['news_name'] );
                line.push( data[i]['news_href'] );
                news_dic[ data[i]['category'] ].push( line );
            }
            sumation_data = news_dic;
        }

        // data getering
        $(document).ready(function(){
            var category_name = ['전체','일반','규제/정책','산업/테크','칼럼/인터뷰'];
            var numbers = $('#numbers');

            // add category label
            for(var i = 0;i<category_name.length;i++){
                numbers.append('<li><a href = "#" class = "TabLabel"'+ `onclick = "click_event_news('${category_name[i]}');" ` +'>' + category_name[i] +'</a></li>');
            }
            numbers.css({
                "display" : "flex",
            });
            $('#numbers li').css({
                "font-size" : "23px",
                "list-style" : "none",
            });
            $('a.TabLabel').css({
                "text-decoration" : "none",
                "color" : "white",
                "border" : "1px solid #263343",
                "padding-left" : "22px",
                "padding-right" : "22px",
                "padding-top" : "11px",
                "padding-bottom" : "11px",
                "background-color" : "#263343",
                "border-radius" : "7px",
                "margin-right" : "11px",
            });
            $.ajax({
                type : "GET",
                url : "{% url 'api-newsList' %}",
                success : function(data){
                    Sumation(data);
                    update_table();
                }
            });
            
        })
    </script>
</body>
</html>