body{
    margin : 0;
    font-family: 'Source Sans pro';
}
a{
    text-decoration: none;
    color : black;
}
.nav{
    font-size: 40px;
    background-color: #263343;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom : 1px solid black;
    height: 100px;
}
.nav_logo{
    margin-left: 20px;
    border-radius: 7px;
}
.nav_logo .logo{
    width : 35px;
    height : 35px;
}
.navbar_menu{
    display: flex;
    padding-left : 0;
}
.navbar_menu li{
    font-size: 23px;
    list-style: none;
    margin-left: 15px;
    padding : 8px 12px;
}
.navbar_menu li:hover{
    background-color: #d49466;
    border-radius: 4px;
}
.nav_icon{
    background-color: gray;
    width: 35px;
    height: 35px;
    margin-right: 20px;
    border-radius: 7px;
}

.nav a{
    text-decoration: none;
    color : white;
}

@media screen and (max-width:768px) {
    .nav{
        flex-direction: column;
    }
}
.container{
    display: flex;

}
.coin_news{
    width: 700px;
    justify-content: flex-start;
}

.news_contents{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.news_contents .coin_news_items{
    display: flex;
    align-items: center;
    width: 50%;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}
.news_contents .coin_news_items a{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
}

.page_button{
    display: flex;
    justify-content: center;
}

.page_button a{
    font-size: 25px;
    margin-left : 10px;
    text-decoration : none;
    color : black;
}